.play-info-button {
    height: 3rem;
    width: 6rem;
    font-size: larger;
    margin-top: 200px;
    margin-left: 3rem;
    cursor: pointer;
    color: white;
    outline: none;
    background-color: rgb(27, 27, 27);


}

.play-info-button:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

.banner {
    color: #fff;
    height: 700px;
    object-fit: contain;
    z-index: 90;
    background-position: top;
}

.title {
    font-size: 3rem;
    margin-top: 4rem;
    padding-left: 3rem;
}

.description {
    margin-left: 3rem;
    height: 10px;
}